


.dotted-border {
  border: 2px dotted #ccc;
}
/* Apply .custom-grid class only for large screens */
@media (min-width: 1024px) {
    .custom-grid {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
    }
  }
  